name: "database"
on:
  schedule:
    - cron: "0 4 * * *"

env:
  CURRENT_SEMESTER: 20212

jobs:
  update-db:
    name: Update database
    runs-on: ubuntu-latest
    container:
      image: caravelahc/matrufsc:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Generate
        run: |
          virtualenv --python=/usr/bin/python2 .venv
          source .venv/bin/activate
          pip install bs4
          cd db/src
          ./get_turmas.py ${CURRENT_SEMESTER}
          ./parse_turmas.py ${CURRENT_SEMESTER}_*.xml ${CURRENT_SEMESTER}.json
          git fetch
          git checkout gh-pages
          mv ${CURRENT_SEMESTER}.json ../../data/${CURRENT_SEMESTER}.json
          git config user.email 53460931+caravelabot@users.noreply.github.com
          git config user.name caravelabot
          git remote add pages https://caravelabot:${DEPLOY_ACCESS_TOKEN}@github.com/caravelahc/capim.git
          git add -f ../../data/*.json || true
          git commit -m "Update $(${CURRENT_SEMESTER}).json" || true
          git push pages gh-pages -f
